.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $darkBlueFooterbg;

  &_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-top: 12rem;
    padding-bottom: 2rem;
  
    img {
      width: 125px;
      height: 40px;
      margin-top: 2rem;
    }
  
    &_location {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      gap: 30px;
      margin-top: 1rem;
  
      img {
        width: 30px;
        height: 15px;
        margin-top: 1rem;
      }
  
      p {
        font-size: 0.75rem;
        text-align: left;
      }
    }
  
    &_contact {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      gap: 10px;
  
      a {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        font-size: 0.75rem;
  
        img {
          width: 15px;
          height: 11px;
          margin-top: 0;
        }
      }
    }
  
    &_link {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      margin-top: 3rem;
  
      a {
        font-size: 0.75rem;
        line-height: 30px;
  
        &:hover {
          font-weight: 700;
        } 
      }
    }
  }

  &_social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 1rem;

    &_circle {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 25px;
      width: 25px;
      border: 1px solid $white;
      border-radius: 20px;
      background: transparent;

      &:hover {
        border: 1px solid $cyanInsideCtaGrad;
      }

      a {
        font-size: 10px;

        &:hover {
          color: $cyanInsideCtaGrad;
        }
      }
    }
  }

  &_attribution {
    font-size: 11px;
    text-align: center;
  
    a {
      color: hsl(228, 45%, 44%);
    }
  }
}
