.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $darkBlueFooterbg;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  padding-top: 12rem;
  padding-bottom: 2rem;

  @include breakpoint-up (large){
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 4rem;
    padding-left: 4rem;
    gap: 3.125rem;
  }

  @include breakpoint-up (x-large){
    gap: 6rem;
  }

  &_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  
    img {
      width: 7.8125rem;
      height: 2.5rem;
      margin-top: 2rem;

      @include breakpoint-up (large){
        width: 11.25rem;
        height: 3.75rem;
      }
    }

    &_details {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;

      @include breakpoint-up (large){
        flex-direction: row;
        gap: 3.125rem;
      }

      @include breakpoint-up (x-large){
        gap: 5rem;
      }

      &_location {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        gap: 1.875rem;
        margin-top: 1rem;
    
        img {
          width: 1.875rem;
          height: 0.9375rem;
          margin-top: 1rem;

          @include breakpoint-up (large){
            width: 2.5rem;
            height: 1.25rem;
          }
        }
    
        p {
          font-size: 0.75rem;
          text-align: left;

          @include breakpoint-up (large){
            font-size: 1rem;
          }
        }
      }
    
      &_contact {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 0.625rem;

        @include breakpoint-up (large){
          margin-top: 2rem;
          gap: 1.25rem;
        }
    
        a {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          gap: 1.875rem;
          font-size: 0.75rem;

          @include breakpoint-up (large){
            font-size: 1rem;
          }
    
          img {
            width: 0.9375rem;
            height: 0.6875rem;
            margin-top: 0;

            @include breakpoint-up (large){
              width: 1.3875rem;
              height: 1.125rem;
            }
          }
        }
      }
    
      &_link {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        width: auto;
        margin-top: 3rem;

        @include breakpoint-up (large){
          margin-top: 1.8rem;
          width: 13.4375rem;
          gap: 1.25rem;
        }
    
        a {
          font-size: 0.75rem;
          line-height: 1.875rem;

          @include breakpoint-up (large){
            font-size: 1rem;
          }
    
          &:hover {
            font-weight: 700;
          } 
        }
      }
    }
  }

  &_social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 1rem;

    @include breakpoint-up (large){
      margin-top: 8rem;
      margin-bottom: 0;
    }

    &_circle {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 1.5625rem;
      width: 1.5625rem;
      border: 1px solid $white;
      border-radius: 50px;
      background: transparent;

      @include breakpoint-up (large){
        height: 2.5rem;
        width: 2.5rem;
      }

      &:hover {
        border: 1px solid $cyanInsideCtaGrad;
      }

      a {
        font-size: 10px;

        @include breakpoint-up (large){
          font-size: 1.25rem;
        }

        &:hover {
          color: $cyanInsideCtaGrad;
        }
      }
    }
  }

  &_attribution {
    font-size: 0.6875rem;
    text-align: center;

    @include breakpoint-up (large){
      display: none;
    }
  
    a {
      color: hsl(228, 45%, 44%);
    }
  }
}
