.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 1.125rem;
  background-image: url('../images/bg-curvy-mobile.svg');
  background-position: 0rem 12rem;
  background-repeat: no-repeat;
  background-size: contain;

  @include breakpoint-up (large){
    background-image: url('../images/bg-curvy-desktop.svg');
    background-position: 0rem 24rem;
  }

  @include breakpoint-up (x-large){
    background-image: url('../images/bg-curvy-desktop.svg');
    background-position: 0rem 22rem;
  }

  img {
    width: 18.75rem;
    height: 14.375rem;

    @include breakpoint-up (large){
      width: 31.75rem;
      height: 25.375rem;
    }
  }

  h1 {
    font-size: 1.375rem;
    text-align: center;
    padding: 0 1rem;

    @include breakpoint-up (large){
      font-size: 1.975rem;
      padding: 0 21rem;
      line-height: 3rem;
    }

    @include breakpoint-up (x-large){
      padding: 0 25rem;
    }
  }

  p {
    text-align: center;
    margin-top: -0.2rem;
    margin-bottom: 1.6rem;
    padding-right: 1rem;
    padding-left: 1rem;
    line-height: 1.25rem;

    @include breakpoint-up (large){
      margin-top: 1.25rem;
      margin-bottom: 2.375rem;
      padding-right: 20rem;
      padding-left: 20rem;
      font-size: 1.2rem;
      line-height: 2.275rem;
    }

    @include breakpoint-up (x-large){
      padding-right: 22rem;
      padding-left: 22rem;
      font-size: 1.4rem;
    }
  }

  a {

    button {
      width: 13.625rem;
      height: 2.75rem;

      @include breakpoint-up (large){
        width: 17.5rem;
        height: 3.5rem;
        font-size: 1.4rem;
        border-radius: 3.125rem;
      }
    }
  }
}