// Color

// Primary
$darkBlueIntroEmailbg: hsl(217, 28%, 15%);
$darkBlueMainbg: hsl(218, 28%, 13%);
$darkBlueFooterbg: hsl(216, 53%, 9%);
$darkBlueTestbg: hsl(219, 30%, 18%);

// Accent
$cyanInsideCtaGrad: hsl(176, 68%, 64%);
$blueInsideCtaGrad: hsl(198, 60%, 50%);
$lightRedError: hsl(0, 100%, 63%);

// Neutral
$white: hsl(0, 0%, 100%);

// Button background color
$buttonColor: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));


// Typography

$bodyFont: 0.875rem;